body{
  margin: 0vh;
}
#bardash {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  background-color: hsl(46, 96%, 72%);
  height: 7vh;
  padding: 0vh 4vh; 
}

.links {
  display: flex; /* Add flex display */
  flex-direction: row; /* Set flex direction to row */
  align-items: center; /* Center items vertically */
  justify-content: stretch;
}

.links a {
  margin: 0 8vh; /* Adjust the horizontal margin between the links */
}

#bardash a {
  font-family: "Poppins", sans-serif;
  color: #193948;
  text-decoration: none;
}

#bardash a:hover {
  text-decoration: none;
  color: #4FADC0;
}

img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  * {
    scrollbar-width: none;
    scrollbar-color: #fcdc73 #193948;
  }