body{
    background-color: #f4f7f5;
}

body {
  background-color: #14213D;
  
}

.job{   
    display: inline-block;
    width: 20%; 
    margin: 2vh; 
    padding: 2vh;
    border-radius: 1vh;
    backdrop-filter: blur(13px) saturate(149%);
    -webkit-backdrop-filter: blur(13px) saturate(149%);
    background-color: #111928ad;
    border-radius: 12px;
    border: 1px solid #ffffff20;
}
.job h2:hover {
    font-family: "Poppins", sans-serif;
    color: #4fadc0;
}
p, h2{
  font-family: "Poppins", sans-serif;
  color: #DBE2EF;
}
strong{
  color: #4fadc0;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: sans-serif;
    font-weight:900;
    font-style:normal;
    color: #DBE2EF;
}
.company-info {
    display: flex; 
    align-items: center; 
}

.company-info img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}
.show-description{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(131.2515106201172 * var(--rpx)); 
    height: calc(14 * var(--rpx));
    margin: calc(47.99992752075195 * var(--rpx)) 0 0 calc(84.52001953125 * var(--rpx)); 
    color: #ffffff;
    font-weight: 500;
    border: 0;
    border-radius: 100px;
    background: #4793AF; 
  }
  
  .job button:hover {
    background: #171716;
    color: #ffffff;
  }


@media only screen and (max-width: 768px) {
    .job {
        width: 100%; 
    }
}
