body{
    background-color: #f4f7f5;
}
.job {
    display: inline-block;
    width: 20%; /* Adjust the width as needed */
    margin: 2vh; /* Add some margin between job listings */
    padding: 2vh;
    background-color: white;
    font-family: "Poppins", sans-serif;
    color: #193948;
     /* Example background color */
    border-radius: 1vh;
}
.job h2:hover {
    font-family: "Poppins", sans-serif;
    color: #4fadc0;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: sans-serif;
    font-weight:900;
    font-style:normal;
    color: #193948;
}
.company-info {
    display: flex; /* Use flexbox to align items in one line */
    align-items: center; /* Align items vertically */
}

.company-info img {
    width: 50px; /* Set a fixed width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the image and text */
}


/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    .job {
        width: 100%; /* Full width on smaller screens */
    }
}
